* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #323441;
    color: aliceblue;
    font-family: "Nunito", sans-serif;
}

#posts {
    max-width: 1200px;
    padding: 0 2rem;
    margin: 4rem auto;
}